:root {
  --font-regular: "Helvetica Now Regular";
  --font-bold: "Helvetica Now Bold";
  --font-extrabold: "Helvetica Now Extrabold";
  --font-medium: "Helvetica Now Medium";
  --border-color: #000;
}
