:root {
  --font-regular: "Helvetica Now Regular";
  --font-bold: "Helvetica Now Bold";
  --font-extrabold: "Helvetica Now Extrabold";
  --font-medium: "Helvetica Now Medium";
  --border-color: #000;
  --hero-bg: rgba(196, 196, 196, 0.24);
  --release-color: rgba(91, 121, 231, 0.2);
  --line-color: rgba(0, 0, 0, 0.2);
  --label-color: rgba(0, 0, 0, 0.56);
  --text-bid: #fff;
  --main-bg: #f7f7f7;
  --hotbid-bg: #fff;
  --hotbid-line: rgba(0, 0, 0, 0.08);
  --hours: #ed5671;
  --minutes: #5e5be7;
  --seconds: #a1d18a;
}
